#container {
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
	color: #333;
	line-height: 130%;
}

#topsection {
	background-color: #00008B;
	border: 4px solid #48D1CC;
}

#topsection img {
    display: block;
    margin: 0 auto;
	height: 300px;
	width: 80%;
} 

#leftcolumn {
	float: left;
	margin: 0;
	padding: 1em;
	width: 240px;
	height: 400px;
	background-color: #00008B;
	border: 4px solid #48D1CC;
}

#leftcolumn h1 {
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: white;
	position: relative;
	top:20px;
	width:200px;
	}

#leftcolumn table {
	background-color:#00008B;
	width: 200px;
	height: 400px;
	position: relative;
	left: 10px;
	bottom:10px;
}

#leftcolumn th {
	border: 3px solid white;
	background-color:white;
	box-shadow:0px 0px 2px 3px #00008B inset;
	}

#footer {
	clear: both;
	margin: 0;
	padding: .5em;
	background-color:#00008B;
	border: 4px solid #48D1CC;
	text-align: center;
	font-size: 25px;
}
#footer a {
	background-color:white;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#central {
	margin-left: 280px;
	padding: 1em;
	width: 800px;
}

#central table {
	column-count: 2;
	column-span: all;
	column-gap: 10px;
	text-align: center;
}

#central td {
	border: 4px solid white;
}


.even {
	background-color: gray;
}

.odd {
	background-color: #cef2ff;
}
